@import "tailwindcss";

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(24px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 1s ease-out;
}
html {
    scroll-behavior: smooth;
}

/* Animated underline */
/* .nav-link {
    position: relative;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: #2563eb;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
} */
/* html {
    scroll-behavior: smooth;
}

.nav-link {
    position: relative;
    transition: 0.3s ease;
}

.nav-link:hover {
    color: #2563eb;
} */
